.idea/workspace.xml
.idea/
/admin/
/class/
/controllers/
/languages/
/models/
/Modules/
/notifications/
/routes/
/uploads/
/vendor/
/views/
/vendor/
/composer.json
/cache/
/.htaccess
/minify.cache.json
/cacert.pem
/index.php
/config.php