@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

html, body {
    min-height: 100%;
    min-width: 100%;
}

body {
    font-size: 18px;
    font-family: 'Zilla Slab', serif;
    color: #141f27;
    font-weight: 400;
}

._block {
    display: block;
    text-indent: -9999px;
    font-size: 0;
}
