@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background: rgba(215, 215, 215, 1);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(210, 210, 210, .4)
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.windows {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: #fff;
    z-index: 1400;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    display: none;
}

table {
    width: calc(100% - 1px);
    width: -moz-calc(100% - 1px);
    width: -webkit-calc(100% - 1px);
    font-weight: 400;
    border-spacing: 0px;
}

td, th {
    word-wrap: break-word;
    word-break: break-all;
}

table tr td, table tr th {
    padding: 5px 10px 0;
    text-align: left;
    line-height: 20px;
    border: 1px solid #e8e8e8;
}

table tr td.pad {
    padding: 5px 10px 5px;
}

table tr th {
    font-weight: 600;
    padding: 15px 10px;
    border: none;
}

table tr td table {
    width: calc(100% + 21px);
    position: relative;
    left: -11px;
    margin-top: 5px;
    background: #ffffff;
    top: 1px;
}

table tr td table td, table tr td table th {
    padding: 5px 10px;
}

table tr td table th {
    padding: 15px 10px;
}

table tr td table th {
    background: #ffce2d;
    color: #000;
}

table tr td p b {
    font-weight: 700;
}

.no-display {
    display: none;
}

table thead tr:nth-child(1) {
    background: #00c6b2;
    color: #fff;
}

table tbody tr:nth-child(even) {
    background: #eeefff;
}

table tbody tr td .view {
    cursor: pointer;
    transition: 0.3s all;
}

table tbody tr td.amp {
    width: calc(100% - 500px);
}

table tbody tr td:hover .view {
    color: #ff7100;
}

.windows .content {
    height: inherit;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: stretch;
    align-content: stretch;
    min-height: 100%;
}

::selection {
    background: rgba(0, 198, 178, 0.4);
    color: #323232;
}

::-moz-selection {
    background: rgba(0, 198, 178, 0.4);
    color: #323232;
}

p.showing {
    padding: 10px 30%;
    background: #333;
    text-align: center;
    font-weight: 500;
    color: #e9e9e9;
    line-height: 30px;
}

@media (max-width: 1367px) {
    p.showing {
        padding: 10px 20%;
    }
}

@media (max-width: 991px) {
    p.showing {
        padding: 10px 10%;
    }
}

@media (max-width: 767px) {
    p.showing {
        padding: 10px 15px;
    }
}

p.showing span {
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    font-family: monospace;
    border: 1px solid #ffda91;
    line-height: 20px;
    margin: 3px 6px 0 2px;
    border-radius: 3px;
}

p.showing .o {
    color: #e96d0f;
}

p.showing .p_ {
    color: #a61de9;
}

p.showing::selection {
    background: #235295;
    color: #e9e9e9;
}

p.showing::-moz-selection {
    background: #235295;
    color: #e9e9e9;
}

p.showing span::selection {
    background: #235295;
    color: #e9e9e9;
}

p.showing span::-moz-selection {
    background: #235295;
    color: #e9e9e9;
}

p.showing span .o::selection {
    background: #235295 !important;
    color: #e96d0f !important;
}

p.showing span .p_::-moz-selection {
    background: #235295 !important;
    color: #a61de9 !important;
}